.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-top: 1rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 80vw;

    /* Glassmorphism */
    background: #ffffff1a;
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 #1f268726;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    border: 1px solid #ffffff4d;

    & img {
        width: 100px;
    }

    & button {
        background-color: var(--primary);
        color: var(--white-text);
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 140px;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.mobile-nav {
    display: none;
}

@media (max-width: 1024px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        position: fixed;
        padding: 10px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 100;
        width: 90vw;

        /* Glassmorphism */
        background: #ffffff1a;
        border-radius: 16px;
        box-shadow: 0 8px 32px 0 #1f268726;
        backdrop-filter: blur(4px) saturate(180%);
        -webkit-backdrop-filter: blur(4px) saturate(180%);
        border: 1px solid #ffffff4d;

        & img {
            width: 80px;
        }

        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bento-bg);
            color: var(--icon);
            border: 1px solid var(--stroke);
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            width: auto;

            & svg {
                width: 24px;
                height: 24px;
                stroke: 1px;
            }
        }
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeIn 0.3s ease;
        padding: 20px;
    }

    .mobile-menu-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 20px 20px;
        max-width: 90vw;
        width: 100%;
        animation: slideDown 0.3s ease;

        /* Glassmorphism */
        background: #ffffff1a;
        border-radius: 16px;
        box-shadow: 0 8px 32px 0 #1f268726;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border: 1px solid #ffffff4d;

        & button {
            width: 100%;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
